.wrapper {
    padding: 20px 30px;
}

.step1Wrapper {
    position: relative;
    padding: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.step1Img {
    width: 50%;
}

.step1Form {
    width: 330px;
}

.step1Button {
    position: absolute;
    bottom: -120px;
    right: 0;
}

.step4Wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.step4TitleRow {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.step4CardTitle {
    padding: 5px 10px;
    display: inline-block;
    vertical-align: middle;
    border-radius: 16px;
    background: #91D5FF;
}
